mixin sectionFilm(backgroundImage, fdRow, trailerLink, alignment, year, genreFirst, genreSecond, title, desc)
	section.section-film(style="background-image: url" + backgroundImage)
		.container
			div(class="film-wrapper " + fdRow)
				.film__trailer
					iframe(width='674' height='429' src=' ' + trailerLink frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
				div(class="film__info " + alignment)
					.film__badges
						.badges
							.badge--yellow #{year}
							.badge--blue #{genreFirst}
							.badge--orange #{genreSecond}
					h2.film__title #{title}
					.film__desc
						| #{desc}
					.film__buttons
						button.button-play-trailer play trailer
						button.button-add add to list